@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face {
    font-family: StarJedi;
    src: url('../fontes/Starjhol.ttf');
}
@font-face {
    font-family: StarOut;
    src: url('../fontes/Starjout.ttf');
}
body{
    margin: 0;
    padding: 0;
    background: url('/IMAGENS/tatooine1.jpg');
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
div{
    background-color: rgba(0,0,0,.6);
}
div#Maintitle h1{
    color: white;
    text-align: center;
    font-family: 'StarOut';
    font-size: 40px;
    font-weight: lighter;
    padding: 0;
    margin: 0;
}
div#Maintitle h2{
    color: white;
    text-align: center;
    font-family: 'StarJedi';
    font-weight: lighter;
    font-size: 25px;
    padding: 0;
    margin: 0;
}

div#Textoinicial h3{
    text-align: center;
    font-size: 18px;
    color: black;
    font-family: 'Titillium Web', sans-serif;
    line-height: 30px;
}
div#Textoinicial{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
}
div#Textoinicial p{
    text-align: justify;
    text-indent: 3px;
    font-size: 20px;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    line-height: 30px;
}

div#botao{
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    background-color: rgba(0,0,0,.6);
    padding-bottom: 200px;
}

button#transformar{
    font-size: 25px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.8);
    margin-bottom: 20px;
    text-decoration: none;
    background-color: rgb(0, 192, 0);
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 4px;
}

button#transformar:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.8), 0 17px 50px 0 rgba(0,0,0,1);
    background-color: green;
    cursor: pointer;
}

mark{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0,0,0,0);
    opacity: 1;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
footer{
    background-color: rgba(0,0,0,.6);
}